<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LunchServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/services/LunchService"
                binding="basicHttpBinding" bindingConfiguration="LunchServiceSoapBinding"
                contract="ServiceReference1.LunchService" name="LunchServiceImplPort" />
        </client>
    </system.serviceModel>
</configuration>